[submodule "Learn3/AutocodeTasks/go-dutch"]
	path = Learn3/AutocodeTasks/go-dutch
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/go-dutch.git
[submodule "Learn3/AutocodeTasks/max-in-seq"]
	path = Learn3/AutocodeTasks/max-in-seq
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/max-in-seq.git
[submodule "Learn3/AutocodeTasks/average"]
	path = Learn3/AutocodeTasks/average
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/average.git
[submodule "Learn3/AutocodeTasks/pizza-split"]
	path = Learn3/AutocodeTasks/pizza-split
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/pizza-split.git
[submodule "Learn3/AutocodeTasks/quadratic-equation"]
	path = Learn3/AutocodeTasks/quadratic-equation
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/quadratic-equation.git
[submodule "Learn4/AutocodeTasks/max"]
	path = Learn4/AutocodeTasks/max
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/max.git
[submodule "Learn4/AutocodeTasks/SumOfEvenNumbers"]
	path = Learn4/AutocodeTasks/SumOfEvenNumbers
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/sum-of-even-numbers.git
[submodule "Learn4/AutocodeTasks/SumOfPrevious"]
	path = Learn4/AutocodeTasks/SumOfPrevious
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/sum-of-previous.git
[submodule "Learn4/AutocodeTasks/localMaximaRemove"]
	path = Learn4/AutocodeTasks/localMaximaRemove
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/local-maxima-remove.git
[submodule "Learn4/AutocodeTasks/CycleSwap"]
	path = Learn4/AutocodeTasks/CycleSwap
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/cycle-swap.git
[submodule "Learn4/AutocodeTasks/spiral"]
	path = Learn4/AutocodeTasks/spiral
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/spiral.git
