[submodule "Learn3/AutocodeTasks/go-dutch"]
	path = Learn3/AutocodeTasks/go-dutch
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/go-dutch.git
[submodule "Learn3/AutocodeTasks/max-in-seq"]
	path = Learn3/AutocodeTasks/max-in-seq
	url = git@autocode.git.epam.com:uladzislau.mikhayevich/max-in-seq.git
